<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "HomelabMon", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/style.css")}/>
  </head>
  <body class="p-4">
    <header class="flex justify-between border-b pb-2 mb-2">
      <h1>HLM</h1>
      <nav>
        <ul class="flex">
          <%= if @solar_edge["status"] == "Active" do %>
          <li class="flex items-center">☀️ <span class="bdot dot-ok mt-1 ml-2">&nbsp;</span></li>
          <% else %>
          <li class="flex items-center">☀️ <span class="dot dot-nok mt-1 ml-2">&nbsp;</span> ⚠️</li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= @inner_content %>
    <footer class="mt-4">
      <p class="font-mono text-xs">homelab_mon v<%= Application.spec(:homelab_mon, :vsn) %></p>
    </footer>
  </body>
</html>
