<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "HomelabMon", suffix:  " v#{Application.spec(:homelab_mon, :vsn)}"  %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/style.css")}/>
  </head>
  <body class="p-4">
    <header class="flex justify-between border-b pb-2 mb-2">
      <h1>
      <%= link "HLM", to: Routes.page_path(@conn, :index) %>
      </h1>
      <nav>
        <ul class="flex">
          <%= if @solar_edge["status"] == "Active" do %>
          <li class="flex items-center">
            SE 
            <span class="dot dot-ok ml-2 inline-block relative" style="top: 2px">&nbsp;</span>
            <span class="text-xs ml-2">
            (LU: <%= HomelabMonWeb.PageView.solar_edge_last_updated(@solar_edge) %>)
            </span>
          </li>
          <% else %>
          <li class="flex items-center">
            ! SE 
            <span class="dot dot-nok ml-2 inline-block relative" style="top: 2px">&nbsp;</span>
            &nbsp;!
            <span class="text-xs ml-2">
            (LU: <%= HomelabMonWeb.PageView.solar_edge_last_updated(@solar_edge) %>)
            </span>
          </li>
          <% end %>
        </ul>
      </nav>
    </header>
    <%= @inner_content %>
    <footer class="mt-4">
      <p class="font-mono text-xs">homelab_mon v<%= Application.spec(:homelab_mon, :vsn) %></p>
    </footer>
  </body>
</html>
