<h1 class="text-2xl">System status</h1>

<ul>
  <li class="flex items-center justify-between">
    <%= link "Solar Edge sysytem", to: Routes.page_path(@conn, :solar_edge) %>
    <div>
      <%= if @solar_edge["status"] == "Active" && @solar_edge["isOutdated"] == true do %>
      <div class="dot dot-ok"></div>
      <% else %>
⚠️
      <div class="dot dot-nok"></div>
⚠️
      <% end %>
    </div>
  </li>
</ul>
