<h1 class="text-2xl">System status</h1>

<ul>
  <li class="flex items-center justify-between">
    <a href="#">Solar Edge system</a>
    <details>
      <summary>Raw Info</summary>
      <code><%= Jason.encode!(@solar_edge) %></code>
    </details>
    <div>
      <%= if @solar_edge["status"] == "Active" do %>
      <div class="dot dot-ok"></div>
      <% else %>
⚠️
      <div class="dot dot-nok"></div>
⚠️
      <% end %>
    </div>
  </li>
</ul>
